<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - A Pen by ADyson82</title>

    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet'>

    <style>
    .selectedDate
    {
        background-color: #043a10 !important;
    }
     .modal-content {
    background-color: #212121
  }
.fc-other-month {
  pointer-events: none;
  cursor: default;
}
.fc-toolbar { text-transform: capitalize; }

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.legend div {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.legend-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.available {
  background-color: #258839;
}

.not-available {
  background-color: #da252d;
}
.selected {
  background-color: #043a10;
}

    </style>
</head>
<body>
<!-- partial:index.partial.html -->

<!-- More Info -->
<!-- Bootstrap assets -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Leaflet assets -->
<link crossorigin="" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      rel="stylesheet"/>
<script crossorigin=""
        integrity="sha512-IkGU/uDhB9u9F8k+2OsA6XXoowIhOuQL1NTgNZHY1nkURnqEGlDZq3GsfmdJdKFe1k1zOc6YU2K7qY+hF9AodA=="
        src="https://unpkg.com/leaflet@1.3.1/dist/leaflet-src.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- tomegrid assets -->


<!-- Button trigger modal -->



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade " id="calendar-modal{{ponudba.id}}{{ordinacija.id}}" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" style="width:1000px">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <div id="koledar{{ponudba.id}}"></div>
          </div>
          <div class="col-4">
            <div id="new-container">
              <div id="time{{ponudba.id}}{{ordinacija.id}}"></div>
            <form method="POST">
          {{ datum.hidden_tag() }}
          <h4 class="text-center">
          </h4>
          <br>
          <input id="idmogoce" name="asdsd" type="hidden" value="s">
          <input id="datum{{ponudba.id}}{{ordinacija.id}}" name="datum" type="hidden" value="s">
          {{ datum.submit(class="btn btn-outline-success btn-block") }}
        </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <div class="legend-item available"></div>
              <span>Termini na voljo</span>
            </div>
            <div class="col-4">
              <div class="legend-item not-available"></div>
              <span>Vsi termini zasedeni</span>
            </div>
            <div class="col-4">
              <div class="legend-item selected"></div>
              <span>Izbrani datum</span>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js'></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.css" rel="stylesheet">


</body>
</html>


<script>

var loadCalendarButton = document.getElementById("koledargumb{{ponudba.id}}{{ordinacija.id}}");
  loadCalendarButton.addEventListener("click", createCalendar);
  function createCalendar() {
  var todayDate = new Date().toISOString().slice(0, 10);

fetch("/get_free_slots?ponudba_id={{ponudba.id}}&date={{danes}}&duration={{ponudba.dolzina}}&working_hours_start={{ordinacija.odpre}}&working_hours_end={{ordinacija.zapre}}")
  .then(response => {
    console.log(response);
    return response.json();
  })
  .then(data => {
    availability = data;
    var currentDate = new Date(todayDate);
  });


    var calendar = null;

  const myModal = document.querySelector("#calendar-modal{{ponudba.id}}{{ordinacija.id}}");
  myModal.addEventListener("shown.bs.modal", () => {
    let calendarEl = document.getElementById('koledar{{ponudba.id}}');

  calendar = new FullCalendar.Calendar(calendarEl, {
    timeZone: 'UTC',
    aspectRatio: 2,
    locale: 'sl',
    contentHeight: 600,
    firstDay: 1,


  dayCellDidMount: function(info) {

    var date = info.date;
    var today = new Date();
    today.setHours(0,0,0,0); // set the time to 00:00:00.000
    var datestring = date.toISOString().split('T')[0];

    if (date < today) {
        info.el.style.backgroundColor = '#909090 ';
        } else if (date.getDay() === 0 || date.getDay() === 6) {
            info.el.style.backgroundColor = '#da252d'; // set background color to red if it's a weekend day
        } else if (availability[datestring]) {
            info.el.style.backgroundColor = '#258839'; // set background color to green if available
        } else if (datestring in availability && !availability[datestring]){
            info.el.style.backgroundColor = '#da252d'; // set background color to red if not available
        } else {
            info.el.style.backgroundColor = '#258839'; // set background color to green if available
        }
    }

  });

  calendar.on('dateClick', function(info) {
   var selectedDate = new Date(info.date);
      var currentDate = new Date();

      if (selectedDate < currentDate) {
        alert("Rezervacija za pretekli datum ni mogoča");
        return;
      }
      if (selectedDate.getDay() === 6 || selectedDate.getDay() === 0) {
         alert("Rezervacija za vikend ni mogoča");
         return;

}
  console.log({{ordinacija.id}});
  var id = {{ordinacija.id}};

   var calendarEl = document.getElementById('time{{ponudba.id}}{{ordinacija.id}}');
   calendar = new FullCalendar.Calendar(calendarEl, {
    locale: 'sl',

    initialView: 'timeGridDay',
    slotMinTime: '{{ordinacija.odpre}}',
    slotMaxTime: '{{ordinacija.zapre}}',
    allDaySlot: false,
    initialDate: info.dateStr,
    contentHeight:"auto",
    handleWindowResize:true,
     headerToolbar: {
     left: 'title',
    center: '',
    end: ''
  },


events: getEvents(id),
    selectable: true,
    select: function(info) {
          var form = document.getElementById("datum{{ponudba.id}}{{ordinacija.id}}");
          var form1 = document.getElementById("idmogoce");
          console.log(form1);
          form.value = (`${info.startStr}, ${info.endStr}, T${form1.value}`);
          console.log(form.value)
    },
  });
  calendar.render();
    if ("{{current_time}}" <= info.dateStr) {
  console.log('clicked on ' + info.dateStr);
  var date = info.dateStr;
  var days = document.querySelectorAll(".selectedDate");
  days.forEach(function(day) {
    day.classList.remove("selectedDate");
  });
    info.dayEl.classList.add("selectedDate");
    }
});

    calendar.render();
  });
   }



   function getEvents(id) {
  var events = [
    {% for termin, ponudba, ordinacija in termini %}
        {% if termin.status!='Zavrnjen'%}
            {
                id: {{ordinacija.id}},
                title: '{{termin.naziv}}',
                start: '{{termin.datum}}T{{termin.cas}}',
                end: '{{termin.datum}}T{{termin.koncni_cas}}'
            },
        {% endif %}
    {% endfor %}
     ];

  var filteredEvents = [];
  for (var i = 0; i < events.length; i++) {
    if (events[i].id === id) {
      filteredEvents.push(events[i]);
    }
  }

  return filteredEvents;
}

</script>
