{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
<body class="text-center">
     <div class="container">
         <br><br><br>
        <form method="POST" class="form-signin" style="color:black">
            {{ form.hidden_tag() }}
            <img class="mb-3" src="https://i.ibb.co/NFrMsy5/pediatrics-100.png" alt="" style="border: 2px solid #3E92CC;
  background-color: #3E92CC;">
            <h1 class="h3 mb-3 font-weight-normal">
                 Login
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Uporabniško ime") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Geslo") }}

            <br>


            <div class="checkbox mb-3">
               <h6>Nimate še računa?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Registracija</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}