{% extends 'base.html' %}
{% block title %}
Ordinacije
{% endblock %}
<head>

    {% block content%}
    <style>



.container {
  max-width: 1200px;
  margin: 0 auto; /* centers the container horizontally */
  width:100%;
}

table th, table td {
  text-align: center;
  white-space: nowrap;
  font-size: 20px;


}
table {
  width: 100%;
  table-layout: fixed;
}


.name {
  font-weight: bold;

  color: #2EB872;
}
  #odpri {
    cursor: pointer;
  }


 #opcije {
  display: flex;
  justify-content: flex-start;
  width: 400px;
}

#opcije a {
  background-color: #f0f0f0;
  font-size: 20px;
   color: #000;
  padding: 10px;
  text-decoration: none;
}

#opcije a.active {
  background-color: #2EB872;
  font-size: 20px;

  color: #fff;
}

#iskalnik {
  background-color: #2EB872;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#shearch{
  margin: auto; /* centers the container vertically */

}
#iskalnik p {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
#iskalnik select,
#iskalnik input {
  font-size: 20px;
  font-weight: 500;
  padding: 15px;
  margin-right: 50px;
  flex: 1;
}

#iskalnik select option {
  font-size: 25x;
}
#iskalnik button {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 40px;
  background-color: #3E92CC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
#iskalnik p {
  color: black;
  margin-bottom: 10px;
}
.col-lg-8.col-md-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
table td {
  height: auto;
}

    .breadcrumb {
        padding: 0.5rem 1rem; /* Add padding */
      }

  .breadcrumb-item a {
    color: gray; /* Change the color of the breadcrumb links */
  }

.breadcrumb a:hover {
  color: #2EB872;
}


    </style>
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body><br>
<div class="container">

    <div class="row justify-content-center mt-4" >
        <div class=""  style="width: 100%;">
    {% if specialty %}
    <h4 style="text-align: center; color:black">Prikazane so ordinacije, ki se specializirajo v panogi {{ specialty }}
    </h4>
    {% endif %}

            <br> <br>
            <div id="shearch">
                <div id="opcije">
                    <a class="active" data-tab="tab-1" href="#">Poiščite tip ordinacije</a>
                    <a class="" data-tab="tab-2" href="#">Poiščite po imenu</a>
                </div>
                <div id="iskalnik">
                    <div class="find-doctor active" id="tab-1">
                        <p style="color: black">Izberite tip specialista in mesto (neobvezno):</p><br>
                        <form action="#" class="search-submit clearfix" id="doctorsearch_tall" method="get">
                            <select class="dropdown" data-settings="{&quot;cutOff&quot;:6}" id="specialty"
                                    name="specialty" size="1" tabindex="1">
                                <option value="0">Izberite specialista...</option>

                                {% for type in types %}
                                {% if type[0] == specialty %}
                                <option selected value="{{ type[0] }}">{{ type[0] }}</option>
                                {% else %}
                                <option value="{{ type[0] }}">{{ type[0] }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>


                            <input class="typeahead" name="city" placeholder="Poiščite mesto" style="margin-top: -20px"
                                   type="text" value="{% if city != 'V' %}{{ city }}{% endif %}">
                            <button id="search-button">Poiščite</button>

                        </form>
                    </div>
                    <div class="by-name" id="tab-2">
                        <p style="color: black">Poiščite ordinacijo po imenu:</p><br>
                        <div class="by-name-input-wrap">
                            <input class="typeahead" id="first_name" name="first_name" placeholder="Ordinacija"
                                   type="text">

                        </div>

                    </div>
                </div>
            </div>

            <br>

            <span style="font-size: 20px">Prikazane so {{ ordinacija_count }} ambulante in {{ num_ponudba }} različnih ponudb {%
    if city != 'V' %}
    v mestu, {{ city }}
    {% endif %}</h4></span>
     <nav aria-label="breadcrumb" style="margin-top: 40px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Domov</a></li>
          <li class="breadcrumb-item"><a href="/izberite_ordinacija">Poiščite specialista</a></li>
            {%
    if city == 'V' %}
            <li class="breadcrumb-item active" aria-current="page"><b>{{ specialty }}</b></li>
             {% else %}
            <li class="breadcrumb-item"><a href="/termin/{{ specialty }}/V">{{ specialty }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><b>{{city}}</b></a></li>
    {% endif %}

        </ol>
      </nav>
            <br>
            <div class="row justify-content-center mt-4">
             <div class="col-md-10">

                <!-- Your rows inside the table HERE: -->
                {% for ordinacija, zdravnik, naslov, kraj, TipOrdinacije in items %}

                <table class="table table-hover table-dark" style="background-color: #3E92CC;">
                    <thead>
                    <tr>
                        <th class="name" scope="col" style="color: white;   text-align: left;
">
                            <img alt="{{ specialty }}" src="{{ link }}" style="margin-right: 20px">
                            {{ ordinacija.ime }}
                        </th>
                        <th>
                          <button class="btn btn-outline btn-info"
        onclick="window.location.href='{{ url_for('show_ordinacija', ordinacija=ordinacija.ime) }}'"
        style="font-size: 20px; margin-top: -70px; width: 155px; background-color: #2EB872">Več informacij
</button>

                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr id="odpri">
                        <td>{{naslov.ulica}} {{naslov.naslov}}, {{kraj.postna}} {{kraj.ime}}</td>

                        <td>

                            kliknite za prikaz {{ ordinacija.ponudba|length }}h ponudb:
                        </td>
                    </tr>
                    {% for ponudba in ordinacija.ponudba %}

                    <tr class="menu-container table-hover" style="display: none; background-color: #0086e3  ;">
                        <form id="idji">
                            <td>
                                <p style="font-size: 20px;  margin-top: 20px">{{ ponudba.naziv }}{% for zdravnik in
                                    pomocniki_zdravniki %}
                                    {% if zdravnik.id == ponudba.zdravnik %}
                                    - {{ zdravnik.naziv }} {{ zdravnik.ime }} {{ zdravnik.priimek }}
                                    {% endif %}
                                    {% endfor %}</p>

                            </td>

                            <td>

                                <button class="btn btn-outline btn-success btn-sm"
                                        data-bs-target="#calendar-modal{{ponudba.id}}{{ordinacija.id}}"
                                        data-bs-toggle="modal"
                                        data-ordinacija-id="{{ordinacija.id}}"
                                        id="koledargumb{{ponudba.id}}{{ordinacija.id}}"
                                        onclick="setFormValues([{{ponudba.id}}, {{ordinacija.id}}])"
                                        style="font-size: 20px; margin-top: 17px; background-color:#2EB872 "
                                        type="button">Izberite ta pregled

                                </button>

                            </td>

                        </form>
                        {% include 'includes/itemsmodals.html' %}
                    </tr>

                    {% endfor %}


                    </tbody>
                </table>
                {% endfor %}

            </div>
             <div class="col-md-2" style="margin-top: 40px;">
            <!-- Sidebar with the description -->
                                        <h5 class="card-title">Kaj je {{ specialty }}?</h5>
                    <br>
                    <p class="card-text">{{opis}}</p></div>
            </div></div>
    </div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script>
$(document).ready(function(){
  $("tr#odpri").click(function(){
    $(this).nextUntil("tr#odpri", "tr.menu-container").toggle();
  });
});



</script>


<script>

function setFormValues(element) {

    var form = document.getElementById("idmogoce").value = element[0];
    sessionStorage.setItem(element[0], element[1]);
  console.log(element[1])

}
 $(document).ready(function() {
  // Hide all tabs except the first one
  $("#tab-2").hide();

  // Click event handler for tabs
  $("#opcije a").click(function() {
    // Remove active class from all tabs
    $("#opcije a").removeClass("active");

    // Get the tab ID from the data attribute
    var tabId = $(this).data("tab");

    // Hide all tabs
    $("#iskalnik div").hide();

    // Show the clicked tab and all its children
    $("#" + tabId).show().find('*').show();

    // Add active class to clicked tab
    $(this).addClass("active");

    // Show/hide first name input field in the second tab
    if (tabId === "tab-2") {
      $("#tab-2 .by-name-input-wrap").show();
    } else {
      $("#tab-2 .by-name-input-wrap").hide();
    }

    // Show the basics div when the first tab is clicked
  });
});



var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var kraji1 = {{ mesta_variable | safe }};
$('#tab-1 .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1,
},
{
  name: 'kraji1',
  source: substringMatcher(kraji1),
  limit: 1
});



$("#opcije a").click(function(event) {
  event.preventDefault();
  // rest of your code
});
 var substringMatcher1 = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};
var kraji2 = {{ base_variable | safe }};
$('#tab-2 .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1,
},
{
  name: 'kraji2',
  source: substringMatcher1(kraji2),
  limit: 3
});
$('#tab-2 .typeahead').on('typeahead:selected', function(event, suggestion) {
  window.location.href = '/ordinacija/' + suggestion;
  console.log("Selected suggestion: " + suggestion);
});


$(function() {
  $('#search-button').click(function() {
    var specialty = $('#specialty').val();
    var city = $('input[name="city"]').val();

    if (specialty == 0) {
      alert('Izberite tip specialista');
      return false;
    }

    if (!city) {
      city = 'V'
    }

    var url = '/termin/' + encodeURIComponent(specialty) + '/' + encodeURIComponent(city);
    window.location.href = url;
    return false;
  });
});








</script>


{% endblock %}

