{% extends 'base.html' %}
{% block title %}
Market page
{% endblock %}

{% block content%}
<style>
    .menu-container {
  display: none;
}

</style>
<div class="row" style="margin-top: 20px; margin-left: 20px">
    <div class="col-8">
        <h2>Specialisti</h2>
        <p>Kliknite na želenega specialista</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Ime Ordinacije</th>
                <th scope="col">Glavni zdravnik</th>


                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for ordinacija, zdravnik, naslov in items %}

        <tr>
            <td>{{ ordinacija.ime }}</td>
            <td>{{zdravnik.naziv}}&nbsp{{ zdravnik.ime}}&nbsp{{ zdravnik.priimek }}</td>
            <td>
                <button class="btn btn-outline btn-info" data-target="#myModal{{ordinacija.id}}" data-toggle="modal">More Info</button>
            </td>
        </tr>
       <tr class="menu-container" style="display: none;">

                {% for ponudba in ordinacija.ponudba %}
           <form id="idji">
                   <td style="display: flex; flex-wrap: wrap;">
                        <p style="display:inline"> {{ ponudba.naziv }} </p>
<button id="koledargumb{{ponudba.id}}{{ordinacija.id}}" class="btn btn-outline btn-success" data-ordinacija-id="{{ordinacija.id}}" data-bs-target="#calendar-modal{{ponudba.id}}{{ordinacija.id}}" data-bs-toggle="modal" type="button" onclick="setFormValues([{{ponudba.id}}, {{ordinacija.id}}])">Izberite tega specialista</button>
                    </td>
</form> {% include 'includes/itemsmodals.html' %}
                {% endfor %}
        </tr>


{% endfor %}

            </tbody>
        </table>

        <script>
    $(document).ready(function(){
    $("tr").click(function(){
        $(this).nextAll("tr.menu-container").slice(0, 3).toggle();
    });
});
</script>

    </div>
     <div class="col-4">
        <h2>Specialisti</h2>
        <p>Kliknite na želenega specialista</p>

       <body class="text-center">
     <div class="container">

<!-- Display appointments -->

{% if appointments %}
  <table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Čas</th>
            <th>Pregled</th>
            <th>Status</th>
            <th>Prekic pregleda</th>
        </tr>
    </thead>
    <tbody>
        {% for termin, ponudba, ordinacija in appointments %}
        <tr>
            <td>{{ termin.datum }}</td>
            <td>{{ termin.cas }}</td>
            <td>{{ ponudba.naziv }}</td>
            <td>{{ termin.status }}</td>
            <td>
                <form action="{{ url_for('cancel_appointment', id=termin.id) }}" method="POST">
                    <input class="btn btn-outline btn-info" type="submit" value="Preklic">
                </form>
            </td>
            <td><button id="koledargumb1{{ponudba.id}}{{ordinacija.id}}" class="btn btn-outline btn-success" data-ordinacija-id="{{ordinacija.id}}" data-bs-target="#calendar-modal1{{ponudba.id}}{{ordinacija.id}}" data-bs-toggle="modal" type="button" onclick="setFormValues([{{ponudba.id}}, {{ordinacija.id}}])">Spremenite datum</button>


</td>
        </tr>
{% include 'includes/owned_items_modal.html' %}
        {% endfor %}
    </tbody>
</table>
{% else %}
  <p>No appointments found for this user.</p>
{% endif %}
    </div>
</body>
   </div>
</div>


<script>

function setFormValues(element) {

    var form = document.getElementById("idmogoce").value = element[0];
    sessionStorage.setItem(element[0], element[1]);
  console.log(element[1])

}

</script>



{% endblock %}

