<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by ADyson82</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calendar-modal">
  Show modal
</button>

<div class="modal" tabindex="-1" role="dialog" id="calendar-modal">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Booking Calendar</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="calendar"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js'></script>

</body>
</html>


<script>
document.addEventListener("DOMContentLoaded", function () {
  var calendarUI = document.getElementById("calendar");
  var calendar = new FullCalendar.Calendar(calendarUI, {});

  const myModal = document.querySelector("#calendar-modal");
  myModal.addEventListener("shown.bs.modal", () => {
    calendar.render();
  });
});
</script>